body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  font-size: 5.265rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #F47C7C;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
    color: #F47C7C;
    font-weight: bold;
    font-weight: normal;
    padding-bottom: 10PX;
}

h3 {
  font-family: 'Montserrat', sans-serif;

  color: #EF9F9F;
}




a{
  color: #EF9F9F;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;

}

a:hover{
  color: #FFF2F2;
}

.top-container {
  background-color: #FAD4D4;
  position: relative;
  padding-top: 100px;
}

.bottom-container{
  background-color: #FAD4D4;
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.coding
{width: 30%;
height: auto;
float: left;
margin-right: 30px;}

.drawing{
  width:30%;
  height: auto;
  float: right;
  margin-left: 30px;
  clear: right;
}

.skill-row
{width: 50%;
margin: 100px auto 100px auto;
text-align: left;
line-height: 2;
font-family: 'Joan', serif;}

.me{
  margin-top: 100px;
  width: 15%;
  height: auto;
}


  hr{
border-style: none;
border-top-style: dotted;
border-color: lightgrey;
border-width: 5px;
width: 5%;
}

.btn {
  background: #EF9F9F;
  background-image: -webkit-linear-gradient(top, #EF9F9F, #F47C7C);
  background-image: -moz-linear-gradient(top, #EF9F9F, #F47C7C);
  background-image: -ms-linear-gradient(top, #EF9F9F, #F47C7C);
  background-image: -o-linear-gradient(top, #EF9F9F, #F47C7C);
  background-image: linear-gradient(to bottom, #EF9F9F, #F47C7C);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: grey;
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background:  #FAD4D4;
  background-image: -webkit-linear-gradient(top,  #FAD4D4, #EF9F9F);
  background-image: -moz-linear-gradient(top,  #FAD4D4, #EF9F9F);
  background-image: -ms-linear-gradient(top,  #FAD4D4, #EF9F9F);
  background-image: -o-linear-gradient(top,  #FAD4D4, #EF9F9F);
  background-image: linear-gradient(to bottom,  #FAD4D4, #EF9F9F);
  text-decoration: none;
}

.copyright{
  color: #FFF2F2;
  font-size: 0.75rem;
}

.contact-me{
  padding: 50px 10px 50px 10px;
}
